.box {
	color: white;
	font-size: 100px;
	text-align: center;
	text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
	padding: 20px;
}

.box1 {
	font-size: 30px;
	background-color: #EF5350;
}
.box2 {
	background-color: #E91E63;
}
.box3 {
	font-size: 50px;
	background-color: #9C27B0;
}
.box4 {
	font-size: 10px;
	background-color: #673AB7;
}
.box5 {
	background-color: #3F51B5;
}
.box6 {
	font-size: 15px;
	background-color: #2196F3;
}
.box7 {
	font-size: 150px;
	background-color: #03A9F4;
}
.box8 {
	background-color: #00BCD4;
}
.box9 {
	font-size: 60px;
	background-color: #009688;
}
.box10 {
	background-color: #607D8B;
}

.container {
	/*Align Items*/
	display: -webkit-flex;
	display: flex;
	flex-direction: row; /* Try what's happen if you change the value from row to column */
	height: 100vh;
	align-items: baseline; /* alinea los elementos sobre un mismo eje*/
	/*align-items: flex-start; 	alinea los elementos al inicio*/
  /*align-items: flex-end; 	alinea elementos al final*/
  /*align-items: center; 	centra elementos */
  /*align-items: stretch; 	toman el tamaño de su padre */
}
