.box {
	color: white;
	font-size: 100px;
	text-align: center;
	text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
	padding: 20px;
}

.box1 {
	background-color: #EF5350;
}
.box2 {
	background-color: #E91E63;
}
.box3 {
	background-color: #9C27B0;
}
.box4 {
	background-color: #673AB7;
}
.box5 {
	background-color: #3F51B5;
}
.box6 {
	background-color: #2196F3;
}
.box7 {
	background-color: #03A9F4;
}
.box8 {
	background-color: #00BCD4;
}
.box9 {
	background-color: #009688;
}
.box10 {
	background-color: #607D8B;
}

.container {
	/*Definir un elemento como contenedor flexible*/
	display: -webkit-flex;
	display: flex;
	border: 10px solid red;
	min-height: 100vh;
	flex-direction: row;
	/*flex-wrap: nowrap;*/
	/*flex-wrap: wrap;*/
	/*flex-wrap: wrap-reverse;*/
}

/*.box {
	width: 300px;
}*/
